<div class="bg-main-green h-screen flex flex-col w-full bg-blue-500 items-center  p-6 ">
    <main class="flex flex-col items-center px-12  max-w-2xl bg-blue-300 py-20 rounded-md w-full">
        <h1 class="text-3xl font-bold mb-12">Bem vindo ao sistema da biblioteca</h1>
        <div class="flex flex-row justify-evenly flex-wrap  w-full ">
            <a 
            class="h-24 mt-2 hover:bg-blue-900 flex flex-col justify-center text-lg  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="alunos/cadastro">Novo aluno
            </a>
            <a 
            class="h-24 mt-2 hover:bg-blue-900 flex flex-col justify-center text-lg  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="alunos">Lista de alunos
            </a>
            <a 
            class="h-24 mt-2 hover:bg-blue-900 flex flex-col justify-center text-lg  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="livros/cadastro">Novo livro
            </a>
            <a 
            class="h-24 mt-2 hover:bg-blue-900 flex flex-col justify-center text-lg  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="livros">Lista de livros
            </a>
            <a 
            class="h-24 mt-2 hover:bg-blue-900 flex flex-col justify-center text-lg  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="emprestimo/cadastro">Novo emprestimo
            </a>
            <a 
            class="h-24 mt-2 hover:bg-blue-900  flex flex-col justify-center text-[1.1rem]  text-center max-w-44 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            href="emprestimos">Lista de emprestimos
            </a>

        </div>
    </main>
</div>
