
<form [formGroup] = "emprestimoForm" class="bg-main-green h-screen flex flex-col w-full bg-blue-500 items-center  p-6 ">
    <app-error-modal  
    [ngClass]="hasError ? 'z-10 w-full relative text-center': 'hidden'" 
    errorMessage="{{error?.errorMessage}}" >
    </app-error-modal>
    <main class="flex flex-col items-center max-w-2xl bg-blue-300 py-20 rounded-md w-full">
        <div class="flex flex-col justify-center  font-second text-xl text-main-gray w-full max-w-sm ">
            <input 
                class="  outline-none h-14 mb-11 rounded-[5px] pl-5 w-full "
                formControlName = "matricula"
                placeholder="Matricula do aluno" 
                type="text"
            />
            <h1 class="font-bold self-center mb-2">Escolha os livros do emprestimo</h1>
            <ul class="bg-blue-500 px-2 rounded mb-11">
                <li
                class="flex flex-row bg-blue-200 py-3 pl-2 my-5 justify-start"
                *ngFor="let livro of livrosCheckbox"
                >
                    <input 
                    (click)="setChecked(livro.index)"
                    class="  outline-none  h-4  rounded-[5px]  mt-2 mr-5 "
                    type="checkbox"

                    [checked]="livro.checked"
                    id = "{{livro.livro.id}}"
                    />
                    <h1>{{livro.livro.titulo.nome}}</h1>
                </li>
            </ul>


            <button
            (click)="onSubmit()"
            class="h-14 -mt-2 hover:bg-blue-900 ease-in duration-100 bg-blue-800 w-full font-semibold rounded-[5px] font-second text-white "
            >
                ENVIAR
            </button>
        </div>   
    </main>
</form>
